<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> </head>

<body>
    <div ng-controller="copyCtrl">
        <input type="text" ng-model="copyText">
        <br>
        <input type="button" value="COPY" ng-click="copy()"> </div>
    <div ng-controller="pasteCtrl">
        <input type="text" width="500px" ng-model="pastText">
        <br>
        <input type="button" value="PASTE" ng-click="paste()"> </div>
        
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller/copyController.js"></script>
    <script src="app/controller/pasteController.js"></script>
    <script src="app/services/factory.service.js"></script>
    
</body>

</html>